body {
  font-family: $cairo;
  font-weight: normal;
  font-style: normal;
  color: $black;
  overflow-x: hidden;
}


*{
  margin: 0;
  padding: 0;
  @include box-sizing (border-box);
  scroll-behavior: smooth;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover{
  text-decoration: none;
}

a {
  text-decoration: none;
}
