.footer {
  background: $theme-color;
  padding-top: 50px;
  padding-bottom: 60px;
  .footer-social {


  }
  .footer-social-group {
    display: flex;
    justify-content: center;
    li {
      font-size: 30px;
      margin: 0 15px
    }
    a {
      color: $white;
    }
  }
}